<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<h2>Microposts first</h2>
<div>
<%= render partial: 'microposts/micropost', locals: {micropost: @micropost} %>
</div>

<h2>Microposts リスト</h2>
<div>
<%= render partial: 'microposts/micropost', collection: @microposts %>
</div>